.header .nav {
    float: right;
    list-style: none;
}
.header .nav li {
    line-height: 50px;
    font-size: 20px;
    position: relative;
    float: left;
}
.header .nav li .me{
    width: 36px;
    height: 36px;
    border-radius: 20px;
}
.header .nav li .header-btn {
    width: 36px;
    height: 36px;
    margin-top: 5px;
    margin-left: -10px;
    margin-right: 30px;
    border-radius: 50%;
    transition: background .2s;
    color: #FFF;
    display: block;
    border: 0;
    outline: none;
}
.header .nav li .header-tooltip {
    min-width: 400px;
    min-height: 250px;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .2);
    line-height: normal;
    background-color: white;
    color: #000;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
}
.header .nav li .header-tooltip .mail{
    width: 30px;
    height: 30px;
}
.header .nav li .header-tooltip .github{
    width: 30px;
    height: 30px;
    align: center;
    align-content: center;
}